.firstScreen,
.mainScreen {
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.firstScreen {
  background: radial-gradient(gray, black);
  color: #ff8300;
}
.container{
  color: #ff8300;
}
.mainScreen {
  display: none;
}
#map {
height: 60vh;
}
#showRest{
  display: flex;
  justify-content: space-around;
  background-color: black;
}
span {
    display: none;
}
img{
  width: 50vw;
  height: 50vh;
}
